@model SQLEscola.Banco.tb_atividade

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tb_atividade</legend>

    <div class="display-label">tb_turma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tb_turma.Nome)
    </div>

    <div class="display-label">Nome_Atividade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome_Atividade)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
