@model SQLEscola.Banco.tb_matricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tb_matricula</legend>

    <div class="display-label">tb_usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tb_usuario.Nome)
    </div>

    <div class="display-label">tb_turma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tb_turma.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id_Matricula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
