@{
    ViewBag.Title = "SQL Escola";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem-Vindo ao SQL Escola!</h1>
                <h2>Esta ferramenta tem um propósito de conceber ao professor uma ajuda para gerenciar uma turma de programação em banco de dados.</h2>
            </hgroup>
            <p>
                A ferramenta avalia automática procedimentos submetidos dos alunos.
            </p>
            <p>
                Para os novatos, sugerimos os passos abaixo.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Nós sugerimos os seguintes passos:</h3>
        <ol class="round">
            <li class="one">
                <h5>Cadastrando-se no sistema.</h5>
                Para que você tenha acesso as mais diversas funcionalidades e facilidades desta ferramenta é necessário realizar um cadastro básico no sistema. Para isto, clique em "[Registra-se]" no canto superior da tela. 
            </li>

            <!--li class="two">
                <h5>Add NuGet packages and jump-start your coding</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li-->
        </ol>
    </section>
</div>
