@{
    ViewBag.Title = "SQL Escola";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem-Vindo ao SQL Escola!</h1>
                <h2>Esta ferramenta tem um propósito de conceber ao professor uma ajuda para gerenciar uma turma de programação em banco de dados.</h2>
            </hgroup>
            <p>
                Objetivo: A ferramenta avalia de forma automática procedimentos submetidos pelos alunos.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Para os novatos, nós sugerimos os seguintes passos abaixo:</h3>
        <ol class="round">
            <li class="one">
                <h5>Cadastrando-se no sistema.</h5>
                Para que você tenha acesso as mais diversas funcionalidades e facilidades desta ferramenta é necessário realizar um cadastro básico no sistema. Para isto, clique em "[Registra-se]" no canto superior da tela. 
            </li>

            <li class="two">
                <h5>Escolhendo a melhor opção para o seu Perfil.</h5>
                Após o cadastro rápido e necessário, você encontrar uma tela onde é sugerido opções descrevendo algumas funcionalidades iniciais a depender do seu perfil de Professor ou Aluno.
            <!--/li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li-->
        </ol>
    </section>
    <h5>@Html.ActionLink("Registrar-se já!", "Register", "Account")</h5>
</div>
