@{
    ViewBag.Title = "Inicial";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Olá @ViewBag.NomeUsuario!</h1>
                <h2>Selecione a opção que deseja:</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ul class="round">
            <li>
                <h3>Criar uma nova turma.</h3>
                Para criar uma nova turma e, automaticamente, ser professor dela clique <a href=Index>aqui</a>. Ou clique na aba destinada a "Turmas". Lá é possível criar uma nova turma ou visualizar turmas já existentes.  
            </li>
            <li>
                <h3>Matricular numa turma de um professor específico</h3>
                Para criar se matricular numa turma de um professor desejado clique <a href=Index>aqui</a>. Ou clique na aba destinada a "Turmas". Lá é possível se matricular numa turma de um professor existente.  
            </li>
        </ul>
    </section>
    <h5>Bons Estudos!</h5>
</div>