@{
    ViewBag.Title = "Inicial";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Olá @ViewBag.NomeUsuario!</h1>
                <h2>Verifique a melhor opção para o que deseja:</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ul class="round">
            <li>
                <h3>Área destinada ao Aluno.</h3>
                Para se matricular em uma turma é muito simples:
                <br />
                Clique na aba destinada a "Turmas". Lá é possível se matricular ou visualizar turmas que você já esteja matriculado.  
            </li>
            <li>
                <h3>Área destinada ao Professor.</h3>
                Para solicitar ao Administrador do sistema o PERFIL de PROFESSOR clique <a href=Index>aqui</a>.
                <br />
                Será enviar uma solicitação e um e-mail ao Administrador para que o mesmo avalie e ative o seu PERFIL de PROFESSOR.
            </li>
        </ul>
    </section>
    <h5>Bons Estudos!</h5>
</div>