@model SQLEscola.Models.TurmaModel

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

@if (ViewBag.Error != "")
{
    <ul style="color:Red">
        <li>
            @ViewBag.Error
        </li>
    </ul>
}

<h3>Tem certeza que deseja remover esta turma?</h3>
<fieldset>
    <legend>Turma</legend>

    <div class="display-label">Nome da Turma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Turma)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <p>
            <input type="submit" value="Remover" class="but but-error but-small but-shadow but-rc" onclick="return exibirConfirmacoes()" />
        </p>
        @Html.ActionLink("Voltar", "FiltrarPorUser")
    </p>
}
<!-- Código Javascript para confirmações do botão -->
    <script type="text/javascript">
        function exibirConfirmacoes() {
            var x;
            var r = confirm("Deseja realmente remover esta turma?\nTodos os alunos serão desmatriculados.");
            if (r == true) {
                return true;
            } else {
                alert("Solicitação cancelada.");
                return false;
            }
        }
    </script>