@model SQLEscola.Models.TurmaModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<fieldset>
    <legend>tb_turma</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Turma)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id_Turma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
